
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myJugadorLabel">Create or edit a Jugador</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="jugador.id" readonly />
        </div>
        <div class="form-group">
            <label for="field_nombreJugador">NombreJugador</label>
            <input type="text" class="form-control" name="nombreJugador" id="field_nombreJugador"
                    ng-model="jugador.nombreJugador"
                     />
        </div>
        <div class="form-group">
            <label for="field_numRebotes">NumRebotes</label>
            <input type="number" class="form-control" name="numRebotes" id="field_numRebotes"
                    ng-model="jugador.numRebotes"
                     />
        </div>
        <div class="form-group">
            <label for="field_numAsistencias">NumAsistencias</label>
            <input type="number" class="form-control" name="numAsistencias" id="field_numAsistencias"
                    ng-model="jugador.numAsistencias"
                     />
        </div>
        <div class="form-group">
            <label for="field_numCanastas">NumCanastas</label>
            <input type="number" class="form-control" name="numCanastas" id="field_numCanastas"
                    ng-model="jugador.numCanastas"
                     />
        </div>
        <div class="form-group">
            <label for="field_fechaNacimiento">FechaNacimiento</label>
            <input type="date" class="form-control" name="fechaNacimiento" id="field_fechaNacimiento"
                    ng-model="jugador.fechaNacimiento"
                     />
        </div>
        <div class="form-group">
            <label for="field_posicion">Posicion</label>
            <input type="text" class="form-control" name="posicion" id="field_posicion"
                    ng-model="jugador.posicion"
                     />
        </div>

        <div class="form-group">
            <label for="field_equipo">equipo</label>
            <select class="form-control" id="field_equipo" name="equipo" ng-model="jugador.equipo" ng-options="equipo as equipo.nombreEquipo for equipo in equipos track by equipo.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
