<div ng-app="myApp">

    <h1>Ejercicio 1</h1>
    <span>Nuevo jugador</span>
    <hr>

    <p>
    <p>Nombre: <input type="text" ng-model="nombre" placeholder="Escribir nombre aquí"></p>
    <p/>
    <p>Fecha: <input type="data" ng-model="fecha" placeholder="Fecha de nacimiento"></p>
    <p/>
    <p>Equipo : <input type="text" ng-model="team" placeholder="Escribir equipo aquí"></p>
    <p/>
    <p>Número de canastas: <input type="text" ng-model="canastas" placeholder="Escribir nº de canastas aquí"></p>
    <p/>
    <p>Número de rebotes : <input type="text" ng-model="rebotes" placeholder="Escribir nº de rebotes aquí"></p>
    <p/>
    <p>Número de asistencias : <input type="text" ng-model="asist" placeholder="Escribir nº de asistencias aquí"></p>

    <hr>

    <h3>{{nombre}}</h3>
    <h3>{{fecha}}</h3>
    <h3>{{team}}</h3>
    <h3>{{canastas}}</h3>
    <h3>{{rebotes}}</h3>
    <h3>{{asist}}</h3>
</div>
