<div ng-init="getEquipos()">
    <h1>Ejercicio 8 (opcional)</h1>
    <span>Cargando información de jugadores de un equipo determinado.</span>
    <hr>

    <select ng-model="id_Equipo" ng-change="getJugadores()" required>
        <option disabled selected value="">Selecciona un equipo</option>
        <option ng-repeat="equipo in equipos" value="{{equipo.id}}">{{equipo.nombreEquipo}}</option>
    </select>

    </p>

    <ul>
        <li ng-repeat="x in jugadores">
            {{ x.nombreJugador + ', ' + x.numRebotes + ', ' + x.numAsistencias + ', ' + x.numCanastas + ', ' + x.fechaNacimiento + ', ' + x.posicion }}
        </li>
    </ul>
</div>
